body {
  font-family: "Press Start 2P", cursive;
  color: white;
  background-color: black;
  text-align: center;
  align-content: center;
  margin-top: 100px;
}

.page-not-found {
  display: block;
  margin: auto;
  border-radius: 50px;
  background-color: white;
  width: 80px;
  height: 80px;
  margin-bottom: 70px;
}

h1 {
  font-size: 20px;
  font-weight: 900;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

.take-me-back {
  font-size: 12px;
  padding: 70px;
}

a:link {
  color: tomato;
}

a:visited {
  color: tomato;
}

a:hover {
  color: white;
}
