.navigation {
    display: flex;
    flex-direction: row;
  }
  
  .navigation p {
    font-family: "Expletus Sans", sans-serif;
    font-weight: 700;
    padding: 5px;
    text-align: center;
  }
  
  .navigation p a:link {
    color: black;
  }
  
  .navigation p a:visited {
    color: black;
  }
  