.navbar {
  margin: 0;
  padding: 0;
}

.navbar-items {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style-type: none;
  font-family: "Expletus Sans", sans-serif;
  font-weight: 700;
  text-align: center;
}

.navbar-item-link {
  text-decoration: none;
}

.navbar-item-link:link,
.navbar-item-link:visited {
  color: black;
}

.navbar-item-link:hover {
  color: tomato;
}
